<div class="profile-container">
  <app-sidebar></app-sidebar>

  <div class="profile-content">
    <header class="profile-header">
      <h1>Thông tin người dùng</h1>
      <div class="search-bar">
        <input type="text" placeholder="Search" />
        <i class="fas fa-search"></i>
      </div>
    </header>

    <section class="user-info">
      <div class="card">
        <div class="card-header">
          <div class="user-avatar">
            <img
              src="https://i.pinimg.com/236x/bc/43/98/bc439871417621836a0eeea768d60944.jpg"
              alt="User avatar"
              class="avatar-image"
            />
          </div>
          <div class="user-details">
            <h2>admin</h2>
            <p>admin123&#64;hcmut.edu.vn</p>
          </div>
          <button class="close-btn">✖</button>
        </div>

        <div class="card-body">
          <div class="info-row">
            <label>Tên</label>
            <p>admin</p>
          </div>
          <div class="info-row">
            <label>Email account</label>
            <p>admin123&#64;hcmut.edu.vn</p>
          </div>
          <div class="info-row">
            <label>Mobile number</label>
            <p>Add number</p>
          </div>
          
        </div>

        <div class="card-footer">
          <button class="save-btn">Save Change</button>
        </div>
      </div>
    </section>
  </div>
</div>
