<div class="container">
    <h1>HCMUT Student Smart Printing Service</h1>
    <h2>Thanh toán thành công!</h2>
    <h3>Cảm ơn bạn đã sử dụng dịch vụ! </h3>
    <p>Số trang đã mua: {{ numberOfPages }} trang A4</p>
    <p>Tổng tiền thanh toán: {{ totalAmount }} VND</p>
    <p>Phương thức thanh toán: BKPay</p>
    <p>Số trang trong tài khoản hiện tại: {{ currentPages }} trang A4</p>
    <div class="button-group">
        <button routerLink="/homeuser">Quay về trang chủ</button>
        <button routerLink="/homeuser">Xem lịch sử giao dịch</button>
      </div>
      
  </div>
  