.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #142D65; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 24px;
    color: #142D65; 
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    color: #060300; 
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input:focus {
    border-color: #FF6D00;
  }
  
  p {
    font-size: 16px;
    margin: 10px 0;
    color: #555;
  }
  
  .error-message {
    color: #FF0000; /* Màu đỏ */
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  
  button {
    background-color: #4CAF50; /* Màu xanh lá */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  